<div class="panel panel-default">
    <div class="panel-heading">
      <h2>{{contact.name}}</h2>
      <div class="panel-image-edit-container">
        <img [src]="contact.imageUrl" [alt]="contact.name" class="img-responsive">
        <div class="edit-button-container">
          <a href="#" class="btn btn-primary" role="button">Edit</a>
          <a href="#" class="btn btn-danger" role="button">Delete</a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <p><strong>Email: {{contact.email}}</strong></p>
      <p><strong>Phone: {{contact.phone}}</strong></p>
    </div>
  </div>
  
