<div class="panel panel-default">
  <div class="panel-body">
    <form id="contact-edit" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            (ngModel)="contact.name" #name="ngModel"
            class="form-control required"
            size="120"
            max="120">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="email">Email:</label>
          <input
            type="text"
            id="email"
            name="email"
            (ngModel)="contact.email" #email="ngModel"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            class="form-control required"
            size="120"
            max="255">
            <div *ngIf="phone.touched && phone.invalid" class="alert alert-danger">Enter a valid phone number.</div>
            <div *ngIf="(name.invalid || email.invalid) && (name.touched || email.touched)" class="alert alert-danger">The Name and Email fields are required.</div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="phone">Phone:</label>
          <input
            type="text"
            id="phone"
            name="phone"
            (ngModel)="contact.phone" #phone="ngModel"
            pattern="\D*([2-9]\d{2})(\D*)([2-9]\d{2})(\D*)(\d{4})\D*"
            class="form-control invalid"
            size="150"
            max="255">

        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="imageUrl">Image URL:</label>
          <input
            type="text"
            id="imageUrl"
            (ngModel)="contact.imageUrl" #imageUrl="ngModel"
            name="imageUrl"
            class="form-control"
            size="150"
            max="255">
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="groupList">Group Contacts:</label>
          <div class="row drop-area" id="groupList" style="min-height: 3rem;" cdkDropList [cdkDropListData]="groupContacts" (cdkDropListDropped)="onDrop($event)">
            <div *ngFor="let contact of groupContacts; let i = index" cdkDrag [cdkDragData]="contact">
              <div class="row">
                <div class="col-sm-11">
                  <cms-contact-item [contact]="contact"></cms-contact-item>
                </div>
                <div class="col-sm-1">
                  <button class="btn btn-danger deleteButton" (click)="onRemoveItem(i)">X</button>
                </div>
              </div>
            </div>
            <span class="dragMsg" *ngIf="groupContacts?.length < 1">Drag contacts into this group</span>
          </div>
        </div>
      </div>
      

      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit" [disabled]="f.invalid">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>

    </form>
  </div>
</div>
