<div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-h2">Contacts</h2>
      <a [routerLink]="['/contacts', 'new']" class="btn btn-success panel-button" role="button">Create New Contact</a>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12" cdkDropList [cdkDropListData]="contacts"> 
                <cms-contact-item *ngFor="let contact of contacts" [contact]="contact" cdkDrag></cms-contact-item>
            </div>
        </div>
    </div>
</div>


  
